# Data
/data/

# Environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Secrets
.env.env
.env
